* {
  box-sizing: border-box;
}
body {
  margin: 0px; border: 1px solid red;
}
.header {
  display: flex;  
  width: 1920px;
  height: 960px;
  max-width: 1920px;
  max-height: 960px;
  margin: auto;
  background-color: #0a0e34;
}
